@import url('datatables.css');
body {
    position: relative;
    overflow-x: hidden;
    /*background-color: #cfd8dc;*/
    background-color: rgb(253, 253, 253) !important;
}

body,
html {
    height: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}


/*-------------------------------*/


/*           Wrappers            */


/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}


/*-------------------------------*/


/*     Sidebar nav styles        */


/*-------------------------------*/

.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(5n+1):before {
    background-color: #ec1b5a;
}

.sidebar-nav li:nth-child(5n+2):before {
    background-color: #79aefe;
}

.sidebar-nav li:nth-child(5n+3):before {
    background-color: #314190;
}

.sidebar-nav li:nth-child(5n+4):before {
    background-color: #279636;
}

.sidebar-nav li:nth-child(5n+5):before {
    background-color: #7d5d81;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.sidebar-brand {
    height: 65px;
    position: relative;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    padding-top: 1em;
}

.sidebar-brand img {
    position: relative;
    top: -8px;
}

.sidebar-brand a {
    color: #ddd;
}

.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
    text-align: center;
}

.dropdown-menu.show {
    top: 0;
}


/*Fontawesome icons*/

.nav.sidebar-nav li a::before {
    font-family: sans-serif;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}

a[href*="#home"]::before {
    content: "\f015" !important;
}

a[href*="#about"]::before {
    content: "\f129" !important;
}

a[href*="#contact"]::before {
    content: "\f086" !important;
}


/*-------------------------------*/


/*       Hamburger-Cross         */


/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: "";
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open:before {
    content: "";
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}


/*-------------------------------*/


/*            Overlay            */


/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 0.8);
    z-index: 1;
}


/* Modificando dimensões e posicionamento dos ícones dos inputs */

.fas {
    height: 23px;
    position: relative;
    top: 5px;
}


/* Modificando propriedades do input-file photo */

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    /*background: url();*/
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
}


/*
.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
*/

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

.btnCadastrar {
    position: relative;
    float: right;
    top: 0;
    bottom: 0;
    width: 150px;
}

.btnAlterar {
    position: relative;
    float: right;
    top: 0;
    bottom: 0;
    width: 150px;
}

.btnDeletar {
    position: relative;
    float: right;
    top: 0;
    bottom: 0;
    width: 150px;
    margin-right: 20px;
}

.errors-label-notification {
    font-size: 12px;
    color: rgb(241, 62, 62);
    font-weight: bold;
}

.errors-label-notification i {
    position: relative;
    margin-right: 5px;
    top: 0;
}

.icons-menu {
    position: relative;
    margin-right: 10px;
    top: 0px;
}


/* DataTables */

#myTable th {
    background-color: #af4a4a;
    font-weight: 500;
    height: 5px !important;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

#myTable td {
    height: 5px !important;
    font-size: 12px;
}

#myTable .fas {
    padding: 0 7px;
}

#myTable .fa-edit {
    color: rgb(189, 170, 0);
}

#myTable .fa-trash-alt {
    color: rgb(238, 43, 43);
}

.fa-trash-alt {
    cursor: pointer;
}

.btnNovo {
    position: relative;
    top: 20px;
    margin-bottom: 45px;
}